@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Protest+Guerrilla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* NAV */
nav {
  width: 100%;
  z-index: 1000;
  position: fixed;  
  top: 0;
  background-color: rgba(255, 255, 242, 0.8);
  display: flex;
  justify-content: space-evenly;
  min-height: 4.5rem;
  align-items: center;
  flex-wrap: wrap;
}

nav a {
  padding: 1.4rem 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.3rem;
  font-family: "Nunito", sans-serif;
  color: #185466;
  transition: background-color 0.3s;
}

nav a:hover {
  background-color: rgba(247, 232, 167, 0.6);
}

.nav-icon{
  display: none;
}



/* LOGO */
#jg{
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 2rem;
    padding: 1.1rem;  
}

#jg-short{
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 2rem;
    padding: 10px 20px;  
    display: none;
}


/* PAGE FORMAT */

.page {
  padding: 80px 20px; 
}

/*HOME PAGE*/

#home {
  top: 0;
  position: relative;
  background-image: url(images/bghome.jpg);
  background-repeat: no-repeat;

  background-position: top;
  background-size: cover;
  height: 50rem;
}

.hometext{
  position: relative;
  top: 23rem;
  margin:auto;
  max-width: 70rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.greeting {
  font-family: "Protest Guerrilla", sans-serif;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: clamp(1.5rem, 7vw, 3.8rem);
  white-space: nowrap; 
}

.about{
  font-family: "Nunito", sans-serif;
  color: white;
  background-color: rgb(24, 84, 102, 0.40);  
  font-size: 1.2rem;
  font-weight: 500;
  max-width: 50rem;
  margin: auto;
  text-align: center;
  padding: 1rem;
  font-size: clamp(0.9rem, 2vw, 1.2rem);

}

/* GLOBAL TITLE */
.title{
  font-family: "Protest Guerrilla", sans-serif;
  font-size: 2.5rem;
  color: rgb(0, 0, 0);
  text-align: center;
  padding-bottom: 3rem;
}

/* FOOTER TITLE */
#footer-title{
  color: #CD7A4D;
}


/*SKILLS PAGE*/

#skills {
  background-image: url(images/bgskills.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}



.skills-container{
  display: flex;
  flex-direction: row;
  gap: 4rem;
  max-width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.mobile-skills{
  display: none;
}

.skill{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 18rem;
  padding: 2rem;
  max-height: 10rem;
  background: #FFF5E8;
  border: 1px solid #B66E47;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.skill-left{
  border-radius: 0px 50px;
}
.skill-right{
  border-radius: 50px 0px;
}

.skill-icon{
  padding: 1rem;
  max-width: 3rem;
}

.skill-text{
  font-size: 1.25rem;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}

.skills-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 3rem;
}

#cv{
  padding: 20px;
  height: 7rem;
  width: 7rem;
  font-size: 4rem;
  background: #FFF5E8;
  border: 1px solid #B66E47;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  font-family: "Protest Guerrilla", sans-serif;  
}

#cv:hover{
  cursor: pointer;
}

#cvimg{
  margin-top: 3rem;
  position: absolute;
  height: 53rem;
  visibility: hidden;

}

/* WEB DEV PORTFOLIO */
#dev {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(images/bgdev.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.filterbuttons{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 1rem;
  margin: 0 auto;
  padding-bottom: 1rem;
}

.filterbuttons button{
  padding: 1rem 3rem;
  background-color: rgb(239, 238, 223, 0.7);
  text-decoration: none;  
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  text-align: center;
  border: none;
}

.filterbuttons button:hover{
  background-color:rgba(87, 87, 55, 0.7);
  color: white;
  cursor: pointer;
}

.dev-grid{
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  max-width: 80%;
  margin: auto;
}

.dev-card{
  border-radius: 20px;
  background-color: rgb(239, 238, 223, 0.5);
}

.dev-card:hover{
  background-color:rgba(87, 87, 55, 0.5);
  color: white;
}

.dev-card img{
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.dev-card p {
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  text-align: center;
  padding: 0.5rem;
}



/* PHOTOGRAPHY */

#photography{
  background-image: url(images/bgphoto.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slide-container {
  position: relative;
  max-width: 70%;
  aspect-ratio: 3 / 2; 
  margin: auto;
  overflow: hidden;
  border-radius: 1%;
}

.mySlides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;       
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.mySlides.show {
  opacity: 1;
  z-index: 1;
}

/* FOOTER */

#contact{
  background-image: url(images/bgfooter.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.contact-form {
  max-width: 25rem;
  width: 25rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Nunito", sans-serif;
  color: #cd7a4d;
  font-weight: bold;
  font-size: 1.25rem;
}

.contact-form input,
.contact-form textarea {
  padding: 0.5rem;
  border: 1px solid #cd7a4d;
  background-color: white;
  border-radius: 4px;
}


.contact-form textarea{
  width: 100%;       
  height: 7rem;      
  resize: none;       
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}

.form-actions button {
  background-color: #E4F9EB;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.error-message{
  font-size: 1rem;
  font-weight: 600;
}
.error-message {
  color: red;
  min-height: 1.2em;
  visibility: hidden;
  display: block;
}

.error-message.active {
  visibility: visible;
}


.footer-block {
  margin-top: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem; 
  flex-direction: column;
  margin-bottom: 2rem;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem; 
  overflow: visible;
}

.copyright{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-family: "Nunito", sans-serif;
  font-size: 1.25rem;
  color: white;
  overflow: visible;
}

#planetimg{
  display: block;
  margin: auto;
  
}


/* NASA experiment */

.apod-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
  gap: 1rem;
  background-color: #111;
  color: white;
  padding: 1rem;
  border-radius: 10px;
  font-family: 'Nunito', sans-serif;
}

.title {
  font-family: 'Protest Guerrilla', cursive;
  font-size: 1.5rem;
  color: white;
}

.media {
  grid-row: 1 / span 2;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.description {
  font-size: 0.95rem;
  line-height: 1.4;
}



#planetimg:hover{
  cursor: pointer;
}

@media (max-width: 1105px) {
  nav a {
    font-size: 1.1rem;
    padding: 0 1.5rem;
  }
  #jg{
    display: none;
  }
  #jg-short{
    display: block;
  }
  .slide-container{
    max-width: 90%;
  }
  .greeting{
    font-size: 3rem;
    white-space: wrap;
  }

  .dev-grid{
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: auto;
}


  .apod-grid {
    grid-template-columns: 1fr;  /* Single column */
    grid-template-rows: auto auto auto;
  }

  .media {
    grid-row: auto; /* Reset the span so it stacks naturally */
  }



}



@media (max-width: 750px) {
  nav a {
    font-size: 0.9rem;
    padding: 0 1rem;
  }
  .dev-grid{
  gap: 2rem;
}
.filterbuttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
  .skills-container{
    display:none;
  }
  .mobile-skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .mobile-skills-grid{
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);

  }
  #mobilecv{
  padding: 20px;
  height: 6rem;
  width: 6rem;
  font-size: 3rem;
  margin: 1rem;
  background: #FFF5E8;
  border: 1px solid #B66E47;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  font-family: "Protest Guerrilla", sans-serif;  
}
#mobilecv:hover{
  cursor: pointer;
}


}


@media (max-width: 600px) {
  .nav-text{
    display: none;
  }
  .nav-icon{
    display: block;
  }

  nav {
    height: 2rem;
    align-items: center;
    justify-content: center;
    background-color: rgba(95, 95, 95, 0.6);
  }
  nav a {
    height: 100%;
    align-content: center;
    justify-content: space-between;
  }
  #jg-short{
    color: white;
    font-size: 2.4rem;
  }
  .slide-container{
    max-width: 100%;
  }
  .contact-form {
    max-width: 17rem;
    margin: 0 auto;
  }
  .dev-grid{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }


}
